.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  /* width: 50vw; */
  max-width: 760px;

  margin: 0 auto;
}

@media (max-width: 768px) {
  .app {
    max-width: 80vw;
  }
}

@media (max-width: 570px) {
  .app {
    max-width: 90vw;
  }
}
