*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  color: inherit;
}

:root {
  font-family: "Space Mono", monospace;
  font-size: 16px;
  line-height: 1.15;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Style Variable */
  --ff-lg: 1.6em;
  --ff-md: 0.8em;
  --ff-sm: 0.6em;

  /* Light Mode */
  --light-bg-primary: rgb(246, 248, 255);
  --light-bg-secondary: rgb(255, 255, 255);

  --light-text-primary: rgb(0, 0, 0);
  --light-text-secondary: rgb(75, 106, 155);
  --light-text-na: rgba(75, 106, 155, 0.5);

  --btn-bg: rgb(0, 121, 255);
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* Btn Reset */
button {
  font-family: inherit;
  line-height: 1.15;

  outline: none;
  cursor: pointer;

  margin: 0;
  overflow: visible;

  text-transform: none;
  -webkit-appearance: button;

  background: none;
  border: none;
  color: inherit;
}

button:hover, a:hover {
  opacity: 0.6;
}

/* Input Reset */
input {
  font-family: inherit;

  margin: 0;
  padding: 0;

  outline: none;
  border: none;
  background-image: none;
  background-color: transparent;
  color: inherit;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* Change placeholder text color */
input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: inherit;
  opacity: 1; /* Firefox */
}

input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: inherit;
}

input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: inherit;
}
